* {
  box-sizing: border-box;
}

#nav_sec {
  position: relative;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

#nav_sec .logo {
  font-family: "Mea Culpa", cursive;
  font-size: 50px;
  display: flex;
  max-width: fit-content;
}
#nav_sec .logo::after {
  position: absolute;
  content: "<-------------->";
  top: 30px;
  left: 0;
  width: 100%;
}
#nav_sec .alll_Bs {
  font-family: "Courier New", Courier, monospace;
  padding: 20px 20px 20px 20px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

#question_sec {
  display: flex;
  position: relative;
  top: 30px;
  max-width: 350px;
  cursor: pointer;
}
#option1,
#option2,
#option3 {
  cursor: pointer;
}
#add1 {
  font-size: 30px;
  padding: 10px;
}
#add2 {
  font-size: 30px;
  padding: 10px;
}
#result {
  font-size: 30px;
  padding: 10px;
}

#option_sec {
  font-size: 70px;
  text-align: right;
  position: absolute;
  right: 0;
  left: 0;
}

#option_sec::after {
  position: absolute;
  content: "";
  border-bottom: 5px solid gray;
  width: 100%;
  right: 0;
  border-radius: 50%;
}

@media (max-width: 558px) {
  #nav_sec .logo {
    font-family: "Mea Culpa", cursive;
    font-size: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }

  #nav_sec .alll_Bs {
    font-family: "Courier New", Courier, monospace;
    padding: 20px 20px 20px 20px;
    max-width: 100%;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  #nav_sec .alll_Bs button {
    margin: 0 auto;
  }

  #option_sec {
    font-size: 60px;
    position: relative;
    text-align: right;
  }

  #question_sec {
    display: flex;
    position: relative;
    top: 14px;
    max-width: 350px;
    cursor: pointer;
  }

  #add1 {
    font-size: 60px;
  }

 

  #option_sec::after {
    position: absolute;
    content: "";
    border-bottom: 5px solid gray;
    width: 100%;
    right: 0;
    border-radius: 50%;
  }
}

/* ans sections */
/* 
.hr_line {
  position: relative;
}

.hr {
  border-bottom: 1px gray solid;
  position: absolute;
  top: 277px;
  bottom: -15px;
  width: 100%;
} */
